<!DOCTYPE html>
  <!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body style="background: white;">
    <iframe width="0" height="0" src="https://www.youtube.com/embed/qeMFqkcPYcg?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <h1 style="text-align: center;"><font color="red">Dreaming of a White Kitchen!</font></h1>
    <div style="text-align: center"ng-controller="KitchenController">
      <div ng-repeat="listing in listings">
        
        <div ng-repeat="photo in listing.photos">
          <a href="{{listing.rdcLink}}">
            <img src="{{photo.photo}}" height="250" width="350">
          </a>
          <p>
            <b>Address: </b>{{listing.address}} </br>
            <b>Recognition Description:</b> {{photo.recognitionDesc}}
          </p>
        </div>
      </div>
    </div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="/controllers/kitchen-controller.js"></script>
    <script src="/services/listing-data-service.js"></script>
    <script src="/services/photo-processing-service.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

  </body>
</html>

